<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>手机号码</label>
                <input type="text" name="Mobile" class="form-control" placeholder="请输入手机号码" value="{{.m.Mobile}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>姓名</label>
                <input type="text" name="RealName" class="form-control" placeholder="请输入手机号码" value="{{.m.RealName}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>密码</label>
                <input type="password" name="Password" class="form-control" placeholder="请输入密码" value="">
            </div>
        </div>
    </div>
</form>